.sidebar {
    height: 100%;
    width: 10em;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.navigation {
    padding: 0.5em;
}

.button-container {
    padding-top: 1em;
}